.maincontainer-flex {
	display: flex;
	flex-direction: row;
	gap: 5vw;
	flex-wrap: nowrap;
	padding-inline: 2rem;
}

.container-layout {
	margin-bottom: 100px;
}

.chosenPicture {
	width: 475px;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 5px;
}

.othersocks-flex {
	margin-top: 10px;
	padding-top: 10px;
	border-top: #1e407a 1px solid;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
}

.product-name-header {
	margin-bottom: 140px;
}

@media (min-width: 550px) and (max-width: 2000px) {
	.color-text-menu-for-phone {
		display: none;
	}

	.color-picker-flex {
		display: block;
	}

	.container-sizes-flex {
		display: block;
	}

	.sizes-for-sizes-for-phone {
		display: none;
	}
}

@media (max-width: 820px) {
	.othersocks-flex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1vw;
	}

	.information-container-flex {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		width: 200px;
	}

	.container-sizes-flex {
		display: flex;
		flex-direction: row;
		list-style: none;
		gap: 1vw;
		font-size: 10px;
		flex-wrap: wrap;
	}

	.container-sizes-flex li {
		font-size: 15px;
	}

	.color-picker-flex {
		flex-direction: row;
		gap: 1vw;
		flex-wrap: nowrap;
	}

	.button-design {
		border-radius: 100%;
		height: 10px;
		width: 10px;
	}

	.border-container {
		border-top: #1e407a 1px solid;
		padding-top: 5px;
		padding-bottom: 5px;
	}
}

@media (max-width: 550px) {
	.maincontainer-flex {
		display: flex;
		flex-direction: column;
		gap: 5vw;
		flex-wrap: wrap;
	}

	.container-layout {
		margin-bottom: 2vh;
	}

	.information-container-flex {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		width: 100%;
	}

	.color-text-menu-for-phone {
		visibility: visible;
	}

	.color-dropdown-menu {
		color: #1e407a;
		border: none;
		margin-top: 5px;
	}

	.sizes-for-sizes-for-phone {
		display: block;
	}

	.container-sizes-flex {
		display: none;
	}

	#cart-button {
		width: 100%;
		margin-bottom: 10vh;
	}

	.product-name-header {
		font-size: 15px;
		margin-bottom: 1vh;
	}

	div.sizes-for-sizes-for-phone {
		margin-bottom: 0px;
	}

	div.color-text-menu-for-phone.border-container {
		margin-bottom: 0px;
	}

	.error-text {
		color: red;
		border: none;
	}

	.sizes-in-dropdown {
		color: #1e407a;
		border: none;
		margin-top: 5px;
	}
}

img.othersock-item {
	width: 110px;
	object-fit: cover;
	aspect-ratio: 1/1;
	border-radius: 5px;
}

.information-container-flex {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.font-bold {
	font-family: 'Nexa-Bold';
}

.color-picker-flex {
	display: flex;
	flex-direction: row;
	gap: 1.5vw;
}

#green-button {
	background-color: #51b2a2;
	border-radius: 100%;
	height: 30px;
	width: 30px;
}

.container-sizes-flex {
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 20px;
	font-size: 20px;
}

.container-sizes-flex li {
	white-space: nowrap;
}

#cart-button {
	width: 100%;
	background-color: #51b2a2;
}

.button-design {
	border-radius: 100%;
	height: 30px;
	width: 30px;
}

.border-container {
	border-top: #1e407a 1px solid;
	margin-top: 10px;
	padding-top: 10px;
}

input[type='radio'] {
	display: none;
	width: 100%;
	height: 2em;
}

input[type='radio']:checked + label {
	border: solid 1px #1e407a;
}

label {
	display: inline-block;
	cursor: pointer;
}

span {
	display: block;
	width: 100%;
	height: 100%;
	transition: transform 0.2s;
}

input#amount-picker {
	width: 75px;
	border: none;
}

input::placeholder {
	color: #1e407a;
}

.amount-picker-validation-negative {
	border: 1px solid red;
}

.amount-picker-validation-positive {
	width: 75px;
	border: none;
}

.error-border {
	border: 1px solid red;
}

.error-text {
	color: red;
	border: none;
}
