.maincontainer-flex {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.container-layout {
    margin-bottom: 100px;

}

.chosenPicture {
    width: 475px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
}


.horizontal-line {
    margin: 10px 10px 10px 10px;
    width: auto;
}

.othersocks-flex {
    margin-top: 10px;
    padding-top: 10px;
    border-top: #1E407A 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 840px) {
    .othersocks-flex {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        justify-content: space-between;
        gap: 10px;
    }
}

img.othersock-item {
    width: 110px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}


.information-container-flex {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.product-name-header {
    margin-bottom: 100px;
}


.font-bold {
    font-family: "Nexa-Bold";

}

.container-sizes-flex li {
    white-space: nowrap;
}


.color-picker-flex {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


#green-button {
    background-color: #51B2A2;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}



.container-sizes-flex {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5px;
    font-size: 20px;
}



#cart-button {
    border-radius: 30px;
    width: 100%;
    background-color: #51B2A2;
    border-width: 0;
}


.button-design {
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

.border-container {
    border-top: #1E407A 1px solid;
    margin-top: 10px;
    padding-top: 10px;

}