.maincontainer-flex {
    display: flex;
    flex-direction: row;
    gap: 10vw;
}

.chosenPicture {
    width: 543px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
}

.font-bold {
    font-family: "Nexa-Bold";
}

.container-sizes-flex {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1vw;

}

.container-sizes-flex li {
    white-space: nowrap;
}

.horizontal-line {
    margin: 10px 10px 10px 10px;
    width: auto;
}


.color-picker-flex {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.product-name-header {
    margin-bottom: 20px;
}

#green-button {
    background-color: #51B2A2;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

#blue-button {
    background-color: #1E407A;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

#yellow-button {
    background-color: #FECD3E;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

#pink-button {
    background-color: #E990B9;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

#orange-button {
    background-color: #F15B39;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

.othersocks-flex {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    gap: 5px;
}

img.othersock-item {
    width: 118px;
    height: 126px;
    object-fit: contain;
}