.slider {
}
.slider__inner {
}
.slider__item {
	width: 650px !important;
	aspect-ratio: 1/1;
	transition: all 250ms;
}
.slider__item img {
	position: relative;
	z-index: 1;
}
.slider__item:not(.slick-active) {
	transform: scale(0.8);
}
.slider__item-image {
	height: 100%;
	object-fit: cover;
}
.slick-list {
	overflow: visible !important;
}
.slick-dots {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	gap: 1rem;
}
.slick-active {
	background: #1e407a;
	border-radius: 100%;
}
.slick-active:hover {
	transform: scale(1.05);
}
.slider__dot {
	width: 1rem;
	height: 1rem;
	border: 1px solid #1e407a;
	border-radius: 100%;
}

@media screen and (max-width: 1024px) {
	.slider__item {
		width: 550px !important;
	}
}
@media screen and (max-width: 768px) {
	.slider__item {
		width: 450px !important;
	}
}
@media screen and (max-width: 480px) {
	.slider__item {
		width: 350px !important;
	}
}
