.slider {
}
.slider__inner {
}
.slider__item {
	width: 650px !important;
	aspect-ratio: 1/1;
	transition: all 250ms;
}
.slider__item img {
	position: relative;
	z-index: 1;
}
.slider__item:not(.slick-active) {
	transform: scale(0.8);
}
.slider__item-image {
	height: 100%;
	object-fit: cover;
}
