.maincontainer-flex {
	display: flex;
	flex-direction: row;
	gap: 5vw;
	flex-wrap: nowrap;
	padding-inline: 2rem;
}

.container-layout {
	margin-bottom: 100px;
}

.chosenPicture {
	width: 500px;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 5px;
}

.cart-text {
	font-size: 1.5rem;
}
.othersocks-flex {
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: #1e407a 1px solid;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1rem;
}

.product-name-header {
	font-size: 1.5rem;
	margin-bottom: 8.5rem;
}

.checked-size {
	position: relative;
}
.checked-size:not(:last-of-type)::after {
	content: '|';
	display: inline;
	position: absolute;
	right: -0.75rem;
	color: #1e1e1e5c;
}

.button-design {
	border-radius: 100%;
	height: 2.5rem;
	min-width: 2.5rem;
}

.container-sizes-flex {
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 1.25rem;
	font-size: 1.25rem;
	font-family: 'Nexa-Bold';
}

img.othersock-item {
	width: 110px;
	object-fit: cover;
	aspect-ratio: 1/1;
	border-radius: 5px;
}

@media screen and (max-width: 1024px) {
	.container-layout {
		min-width: 400px;
	}
	.cart-text {
		font-size: 1.125rem;
	}
	.othersocks-flex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1vw;
	}

	.information-container-flex {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}

	.container-sizes-flex {
		gap: 1rem;
		font-size: 1.125rem;
		flex-wrap: wrap;
	}

	.checked-size::after {
		right: -0.55rem;
	}

	.product-name-header {
		margin-bottom: 6rem;
		font-size: 1.25rem;
	}

	.color-picker-flex {
		flex-direction: row;
		gap: 1vw;
		flex-wrap: nowrap;
	}

	.button-design {
		height: 2rem;
		min-width: 2rem;
	}

	.border-container {
		border-top: #1e407a 1px solid;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
}

@media screen and (max-width: 750px) {
	.maincontainer-flex {
		display: flex;
		flex-direction: column;
		gap: 5vw;
		flex-wrap: wrap;
	}

	.container-layout {
		margin-bottom: 2vh;
	}

	.information-container-flex {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		width: 100%;
	}

	.color-dropdown-menu {
		color: #1e407a;
		border: none;
		margin-top: 5px;
	}

	#cart-button {
		width: 100%;
		margin-bottom: 10vh;
	}

	.product-name-header {
		font-size: 15px;
		margin-bottom: 1vh;
	}

	.error-text {
		color: red;
		border: none;
	}

	.chosenPicture,
	img.othersock-item {
		width: 100%;
	}

	.container-sizes-flex {
		font-size: 1.25rem;
		gap: 1.25rem;
	}

	.checked-size::after {
		right: -0.75rem;
	}
	.button-design {
		height: 2.5rem;
		min-width: 2.5rem;
	}
	.cart-text {
		font-size: 1.5rem;
	}
	.container-layout {
		min-width: unset;
	}
}

@media screen and (max-width: 550px) {
	.othersocks-flex {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 1.5rem;
		padding-inline: 5vw;
	}
	.cart-text {
		font-size: 1.125rem;
	}
	.container-sizes-flex {
		gap: 1rem;
		font-size: 1.125rem;
		flex-wrap: wrap;
	}
	.checked-size::after {
		right: -0.55rem;
	}
	.button-design {
		height: 2rem;
		min-width: 2rem;
	}
}

.information-container-flex {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.font-bold {
	font-family: 'Nexa-Bold';
}

.color-picker-flex {
	display: flex;
	flex-direction: row;
	gap: 1.5vw;
}

#green-button {
	background-color: #51b2a2;
	border-radius: 100%;
	height: 30px;
	width: 30px;
}

#cart-button {
	width: 100%;
	font-size: 1.5rem;
}

.border-container {
	border-top: #1e407a 1px solid;
	margin-top: 1rem;
	padding-top: 1rem;
}

input[type='radio'] {
	display: none;
	width: 100%;
	height: 2em;
}

input[type='radio']:checked + label {
	color: #1e407a;
}

label {
	display: inline-block;
	cursor: pointer;
}

input.amount-picker {
	width: 100%;
	border: none;
}

input::placeholder {
	color: #1e407a;
}

.amount-picker-validation-negative {
	border: 1px solid red;
}

.amount-picker-validation-positive {
	width: 75px;
	border: none;
}

.border-for-sizes {
	border: 2px solid #1e407a;
	border-radius: 12.52px;
	padding: 10px;
	color: #1e1e1e5c;
}

.error-border {
	border: 1px solid red;
}

.error-text {
	color: red;
	border: none;
}
