.navigator {
}

.navigator__inner {
	display: grid;
	place-items: center;
}

.main {
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	gap: 100px;
}

.main__choose-style {
	font-weight: bold;
	max-width: 700px;
	margin: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.main__sock-types-display {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 100px;
}

.main__sock-display {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.main__sock-title {
	font-size: 2rem;
}

.main__socks-form {
	height: 20px;
}

.main__sock-photo {
	display: flex;
	justify-content: center;
	width: 16rem;
	height: 16rem;
	border-radius: 100%;
	object-fit: cover;
}

.main__sock-photo img {
	width: 100%;
	height: auto;
}

.form__colors {
	display: flex;
	gap: 15px;
}

.form__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.form__colors-size {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 100%;
}
.form__colors-size:hover {
	cursor: pointer;
}

.form__remove-radio-button {
	display: none;
}

.form__buy-button:hover {
	cursor: pointer;
}

@media (max-width: 600px) {
	.main__sock-types-display {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 100px;
	}

	.main__sock-photo {
		display: flex;
		justify-content: center;
		width: 340px;
		height: 340px;
		border-radius: 100%;
		object-fit: cover;
	}

	.form__colors-size {
		height: 50px;
		width: 50px;
		border-radius: 100%;
	}

	.form__buy-button {
		align-self: center;
		font-size: 25px;
		background-color: #51b2a2;
		color: #1e407a;
		height: 50px;
		border-radius: 30px;
		border-width: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.form__color-blue {
	background-color: #1e407a;
}

.form__color-green {
	background-color: #51b2a2;
}

.form__color-pink {
	background-color: #e990b9;
}

.form__color-red {
	background-color: #f15b39;
}

.form__color-yellow {
	background-color: #fecd3e;
}

.active__choose-style {
	border: black solid 1px;
}

.main__about-us {
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 700px;
	margin: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.main__head-title {
	font-size: 3rem;
}

.main__head-text {
	font-size: 1.25rem;
	font-family: 'Nexa-Bold';
}

.main__about-us-info {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.main__our-vision {
	max-width: 400px;
	margin-inline: auto;
	font-family: 'Nexa-Bold';
}

.main__our-vision-title {
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.main__our-vision-text {
	font-size: 1.25rem;
}

/* Deri: this piece of code belongs to me. I only need to work on very detailed items if there are some comments on it.*/
.main__international-concept {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__news {
	font-size: 50px;
	text-decoration: underline;
}

.main__international-now {
	font-size: 30px;
	padding: 20px;
	text-align: center;
}

.main__world-map {
	max-width: 40rem;
	width: 100%;
}

@media (max-width: 640px) {
	.main__world-map {
		padding-inline: 1rem;
	}
}

.textCenterGoBack {
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.goBackLink {
	all: unset;
	font-size: 1.5rem;
	font-family: 'Nexa-Bold';
}
