.navigator {
}
.navigator__inner {
	display: grid;
	place-items: center;
}
.main {
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	gap: 100px;
}
.main__choose-style {
	font-weight: bold;
	max-width: 700px;
	margin: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 60px;
}
.main__sock-types-display {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 100px;
}

.main__sock-display {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}
.main__socks-form {
	height: 20px;
}
.main__sock-photo {
	display: flex;
	justify-content: center;
	width: 170px;
	height: 170px;
	border-radius: 100%;
	object-fit: cover;
}
.main__sock-photo img {
	width: 100%;
	height: auto;
}
.form__colors {
	display: flex;
	gap: 15px;
}
.form__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.form__colors-size {
	height: 30px;
	width: 30px;
	border-radius: 100%;
}
.form__remove-radio-button{
	display: none;
}


.form__buy-button {
	background-color: #51b2a2;
	color: #1e407a;
	width: 70px;
	height: 35px;
	border-radius: 30px;
	border-width: 0px;
}

@media (max-width: 600px) {
	.main__sock-types-display {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 100px;
	}
	.main__sock-photo {
		display: flex;
		justify-content: center;
		width: 340px;
		height: 340px;
		border-radius: 100%;
		object-fit: cover;
	}
	.form__colors-size {
		height: 50px;
		width: 50px;
		border-radius: 100%;
	}
  }


.form__color-blue {
	background-color: #1e407a;
}
.form__color-green {
	background-color: #51b2a2;
}
.form__color-pink {
	background-color: #e990b9;
}
.form__color-red {
	background-color: #f15b39;
}
.form__color-yellow {
	background-color: #fecd3e;
}
.active__choose-style{
	border: black solid 1px;
}

.main__about-us {
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 700px;
	margin: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.main__head-text{
	font-size: 50px;
}

.main__about-us-info {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.main__our-vision {
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
}
/* Deri: this piece of code belongs to me. I only need to work on very detailed items if there are some comments on it.*/
.main__international-concept {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main__news {
	font-size: 50px;
	text-decoration: underline;
}
.main__international-now {
	font-size: 30px;
	padding: 20px;
	text-align: center;
}
.main__world-map {
	width: 440px;
}

@media (max-width:460px){
	.main__world-map {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
}

