@import url("./reset.css");
@import url("./fonts.css");

* {
  padding: 0px;
  margin: 0px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

body {
  font-family: Nexa-Light, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
  position: relative;
  background-color: #1e407a;
  color: white;
}
.footer__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.5fr;
  padding-block: 2.5rem;
}
.footer__item {
}
.footer__square {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.75rem;
  background-color: white;
  border-radius: 0.625rem;
  padding: 1.5rem;
}
.footer__square-wrapper {
  display: flex;
  gap: 2.5rem;
}
.footer__square-contacts {
  margin-block: 0.5rem;
}
.footer__square-name {
  font-family: Nexa-Bold;
}
.footer__square-pink {
  color: #e990b9;
}
.footer__square-green {
  color: #51b2a2;
}
.footer__title {
  font-family: Nexa-Bold;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}
.footer__image {
  width: 50px;
}
.footer__image-wrapper {
  display: flex;
  margin-top: 0.75rem;
}


main{
  color: #1e407a; /* changed colore of the text*/
  margin-bottom: 60px; /* add gap between footer and main */
  display: flex;
  flex-direction: column;
  gap: 100px
}
.main__choose-style{
  font-weight: bold;
  max-width: 700px; 
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.main__sock-types-display{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 100px;
}
.main__sock-display{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.main__socks-form{
  height: 20px;
}
.main__sock-photo{
  display: flex;
  justify-content: center;
  width: 170px; 
  height: 170px;
  border-radius: 50%; 
}
.main__sock-photo img {
  width: 100%; 
  height: auto; 
}
.form__colors{
  display: flex;
  gap:15px;
}
.form__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.form__colors-size{
  height: 25px;
  width:  25px;
  border-radius: 50%;
}

.form__color-blue{
  background-color: #1e407a;
}
.form__color-green{
  background-color: #51b2a2;
}
.form__color-pink{
  background-color: #e990b9;
}
.form__color-red{
  background-color: #F15B39;
}
.form__color-yellow{
  background-color: #FECD3E;
}
.form__buy-button{
  background-color: #51b2a2;
  color: #1e407a;
  width: 55px;
  height: 25px;
  border-radius: 30px;
  border-width: 0px;
}
.main__about-us{
  font-weight: bold;
  max-width: 700px; 
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  
}
.main__about-us-info{
  display: flex;
  flex-direction: column;
  gap: 20px
}

.main__our-vision{
  max-width: 400px; 
  margin-right: auto;
  margin-left: auto;
}